<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Loads the patch to your static files -->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}" />
    <title>{% block title %} App django Index{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<!-- nav --> 
<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <!-- nav-bar header -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
            <span class="icon-bar"> </span>
            <span class="icon-bar"> </span>
            <span class="icon-bar"> </span>
        </button>
         <a class="navbar-brand" href="{% url 'music:index' %}">Sergio Djanger</a>
    </div>
    <!-- ./nav-bar header -->
    <!-- items --> 
    <div class="collapse navbar-collapse" id="topNavBar">
        <ul class="nav navbar-nav"> 
            <li class=""> 
                <a href="{% url 'music:index' %}"> 
                    <span class="glyphicon glyphicon-cd" aria-hidden="true"> </span> Albums
                </a>
            </li> 
            <li class=""> 
                <a href="#"> 
                    <span class="glyphicon glyphicon-music" aria-hidden="true"> </span> Songs
                </a>
            </li> 
        </ul>
        <!-- searchbox-->
        <form class="navbar-form navbar-left" role="search" method="get" action="#">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" name="q" value="">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
        </form>
        <!-- ./searchbox-->
        <ul class="nav navbar-nav navbar-right"> 
            <li class=""> 
                <a href="{% url 'music:index' %}"> 
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span> Add album
                </a>
            </li> 
            <li class=""> 
                <a href="#"> 
                    <span class="glyphicon glyphicon-off" aria-hidden="true"> </span> Logout
                </a>
            </li> 
        </ul>
    </div>
    <!-- ./items --> 
  </div>
</nav>
<!-- ./nav --> 
{% block body %}

{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>