{% extends 'base.html' %}
{% block title %} Music details {% endblock %}

{% block body %}
<div class="container">
  <img src="{{ album.album_logo }}">
  <h1> {{ album.album_title }}</h1>
  <h3> {{ album.artist }}</h3>

  <form action="{% url 'music:favorite' album.id %}" method="POST">
    {% csrf_token %}
    {% for song in album.song_set.all %}
      <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id}}"> 
      <label for="song{{forloop.counter}}">
        {{ song.song_title}}
        {% if song.favorite %}
          <img src="http://i.imgur.com/b9b13Rd.png" />
        {% endif %}
      </label><br>
    {% endfor %}
    <input type="submit" name="enviar">
  </form>
</div>
{% endblock %}
