<!-- main --> 
{% extends 'base.html' %}

{% block body %}
<div class="container">
  <h2>Here are all my albums:</h2>
  	{% if all_albums %}
		<ul class="list-group">
			{% for album in all_albums %}
			<li class="list-group-item">
				<a href="{% url 'music:detail' album.id %}"> {{album.artist}}</a>
			</li>
			{% endfor %}
		</ul>
	{% else %}
		<h3> You don't have albums </h3>
	{% endif %}
</div>
{% endblock %}

<!-- ./main --> 